<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelWeek04.Properties.Settings.RealEstateConnectionString"
            connectionString="Data Source=sql.2rpi.hu,7000;Initial Catalog=RealEstate;Persist Security Info=True;User ID=hallgato;Password=Password123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>